<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"


    package="com.anguomob.total">
    <application>

    <activity
        android:name=".activity.OtherAppActivity"
        android:theme="@style/NoBarTheme" />

    <activity
        android:name=".activity.QQADSplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/FullScreenTheme" />
    <activity
        android:name=".activity.ChuanShanJiaSplashActivity"
        android:configChanges="keyboard|orientation|screenSize"
        android:theme="@style/FullScreenThemeAD"
        android:screenOrientation="portrait" />
    <activity
        android:name=".activity.ShowTextActivity"
        android:theme="@style/LibTheme" />
    <activity
        android:name=".activity.WebViewX5Acitivity"
        android:theme="@style/LibTheme" />
    <activity
        android:name=".activity.UpdateActivity"
        android:exported="false"
        android:screenOrientation="portrait"
        android:theme="@style/bdp_update_dialog_style_fullscreen_custom" />
    <activity
        android:name=".activity.FeedBackActivity"
        android:theme="@style/LibTheme" />
    </application>


</manifest>